body{
    font-family: 'Cuprum', Arial, Helvertical, sans-serif;
    background-image: url("back.png");
}

header{
    margin-top: 200px;
}

.dws-menu{
    margin:0;
    padding: 0;
}

.dws-menu ul li{
    list-style: none;
}

.dws-menu > ul{
    display: flex;
    justify-content: center;
}

.dws-menu > ul li a {
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.dws-menu > ul li {
    position: relative;
    border: 1px solid #c7c8ca;
}

.dws-menu > ul li > a i.fas{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.dws-menu > ul li:first-child{
    border-left: 1px solid #babbbb;
}

.dws-menu > ul li:last-child{
    border-left: 1px solid #babbbb;
}

.dws-menu   li a:hover{
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.5s ease;
}

       /*Sub menu*/

.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    right: -14px;
    display: none;
}

.dws-menu li > ul li{
    border-left: 1px solid #c7c8ca;
}
.dws-menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul{
    display: block;
}